<!-- _includes/footer.html -->
<div class="site-footer">
  <div class="widget-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="widget">
            <h3 class="widget-title">Kontakt</h3>
            <address>
              Česká neutronová asociace, z. s.<br>
              Řež 292<br>250 68 Husinec
            </address>
            <a>IČO: 23340711</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="widget">
            <h3 class="widget-title">Asociace</h3>
            <ul class="no-bullet">
              <li><a href="#">About us</a></li>
              <li><a href="#">Infoline</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Join us</a></li>
              <li><a href="#">Cooperation</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="widget">
            <h3 class="widget-title">Press Room</h3>
            <ul class="no-bullet">
              <li><a href="#">Advertisement</a></li>
              <li><a href="#">Interviews</a></li>
              <li><a href="#">Hot news</a></li>
              <li><a href="#">Photos</a></li>
              <li><a href="#">Marketing</a></li>
            </ul>
          </div>
        </div>
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- .widget-area -->

  <div class="bottom-footer">
    <div class="container">
      <nav class="footer-navigation">
        <a href="#">Home</a>
        <a href="#">About us</a>
        <a href="#">Insurance plans</a>
        <a href="#">Resources</a>
        <a href="#">Contact</a>
      </nav>
      <div class="colophon">Copyright 2025 CNA. Designed by Themezy.</div>
    </div>
  </div>
</div>
