---
layout: main
---
<div class="fullwidth-block greet-section">
  <div class="container">
    {{ content }}
    <div class="row">
      {%- if page.features and page.features.size > 0 -%}
        {%- for f in page.features -%}
          <div class="col-md-3">
            <a class="feature" href="{{ f.url | default: '#' | relative_url }}">
              <div class="feature-icon" aria-hidden="true">
                {%- if f.icon_class -%}
                  <i class="{{ f.icon_class }}"></i>
                {%- elsif f.icon -%}
                  <img src="{{ f.icon | relative_url }}" alt="" loading="lazy">
                {%- endif -%}
              </div>
              <h3 class="feature-title">{{ f.title }}</h3>
              {%- if f.excerpt -%}<p>{{ f.excerpt }}</p>{%- endif -%}
            </a>
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
    <div class="text-center">
        <p>Více o asociaci se dočtete <a href="/about">zde</a>.</p>
    </div>
  </div>
</div>


<div class="fullwidth-block" data-bg-color="#f1f1f1">
  <div class="container">
    <h2 class="section-title">Novinky</h2>
    <div class="row news-list">
      {% assign past_posts = site.posts | where_exp: "post", "post.date < site.time" %}
      {% for p in past_posts limit: 4 %}
      <div class="col-md-4">
        <div class="news">
          <figure><img src="{{ p.image | relative_url }}" alt=""></figure>
          <div class="date"><img src="{{ '/images/icon-calendar.png' | relative_url }}" alt="">{{ p.date | date: "%-d. %-m. %Y"}}</div>
          <h2 class="entry-title"><a href="{{ p.url | relative_url }}">{{ p.title }}</a></h2>
        </div>
      </div>
      {% endfor %}
    </div> <!-- .row -->
  </div> <!-- .container -->
</div> <!-- .offer-section -->

<div class="fullwidth-block">
  <div class="container">
    <h2 class="section-title">Naši kolektivní členové</h2>
    <div class="partners">
      <a href="https://www.mff.cuni.cz/"><img src="{{ '/images/logo_mff_en.png' | relative_url }}" width="400px" alt=""></a>
      <a href="https://www.vscht.cz"><img src="{{ '/images/logo_vscht_en.png' | relative_url }}" width="400px" alt=""></a>
    <!--  <a href="#"><img src="{{ '/dummy/logo.png' | relative_url }}" alt=""></a>
      <a href="#"><img src="{{ '/dummy/logo.png' | relative_url }}" alt=""></a>
      <a href="#"><img src="{{ '/dummy/logo.png' | relative_url }}" alt=""></a>-->
    </div> <!-- .partners -->
  </div> <!-- .container -->
</div> <!-- .fullwidth-block -->


