---
layout: main
---
<main class="main-content">
	<div class="breadcrumbs">
		<div class="container">
			<a href="/">Domů</a>
			<span><a href="/aktuality">Aktuality</a></span>
			<span>{{ page.title }}</span>
		</div>
	</div>

	<div class="page">
		<div class="container">
			<h3 class="entry-title">{{ page.title }}</h3>
			  {% if page.image %}
				<figure class="post-image">
				<img src="{{ page.image | relative_url }}"
					alt="{{ page.image_alt | default: page.title }}"
					loading="lazy" decoding="async">
				{% if page.image_caption %}
					<figcaption class="post-image__caption">{{ page.image_caption }}</figcaption>
				{% endif %}
				</figure>
			{% endif %}
			{{ content }}
		</div>
	</div> <!-- .page -->
</main>